* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    @include center();
    margin: 1.875rem;
}

.container {
    width: 23.438rem;
    border: solid 3px black;
    position: relative;
}

.box1 {
    background-image: url(/assets/image-header.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 33.625rem;

    img {
        padding: 0.625rem;
        height: 1.5rem;
    }

    h1 {
        font-family: 'Fraunces', serif;
        text-align: center;
        margin: 0;
        color: white;
        font-size: 3.125rem;
        padding-top: 4.063rem;
        padding-left: 0.938rem;
        padding-right: 0.938rem;
    }
}

.box2 {
    background-image: url(/assets/image-transform.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 19.5rem;
}

.box3 {
    background-size: cover;
    background-color: white;
    height: 19.5rem;
    text-align: center;
    position: relative;

    h2 {
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }

    p {
        font-family: 'Barlow', sans-serif;
        font-size: 1rem;
        padding-top: 1.50rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        line-height: 1.30rem;

    }

    a {
        font-family: 'Fraunces', serif;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 2.5rem;
    }
}