* {
    margin: 0;
    padding: 0;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include center();
    margin: 40px;
}

.container {
    width: 375px;
    border: solid 3px black;
}

.box1 {
    background-image: url(/assets/image-header.jpg);
    background-position: center bottom;
    background-size: cover;
    width: 375px;
    height: 538px;

}

img {
    height: 24px;
    width: 123.64px;
}