* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@mixin center ($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}


@mixin title {
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    text-align: center;
}


body {
    @include center();
    margin: 40px;
}

.container {
    width: 375px;
    border: solid 3px black;
}

.box1 {
    background-image: url(/assets/image-header.jpg);
    background-position: center bottom;
    background-size: cover;
    width: 375px;
    height: 538px;

    img {
        height: 24px;
        width: 123.64px;
    }

    h1 {
        @include title();
        @include center($dir, $justify, $align );
        flex: column, center, center;
        height: 327px;
        width: 98px;

    }

}